.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 550px 550px;
}

.card-item {
  border: 1px solid black;
  height: auto;
}

.card-item-red {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.card-item-blue {
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}
